.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/9666fd1b56bebfef7ba83f7757fa798d5716752d3157624d1c3934f16cb9aafc364493b2ee9e8557b1fd1fbbdd6bdb7fc658c7c0eee67047a3abf9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-weight: 700;
  margin: 254px 0 0;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: -7px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 247px;
    margin-right: 186px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-2 {
    margin: 0 99px 26px 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 234px;
    margin-right: 43px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-2 {
    margin: 8px 36px 30px -36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 254px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin: -7px 0 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 241px;
  }

  .u-section-1 .u-text-2 {
    margin: 15px 15px 18px -15px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f2f2f2, #f2ccd9);
  min-height: 818px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1180px;
  background-image: none;
  margin: 62px 0 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 252px;
  background-image: url("images/e513305c93d91bd4051ade974d16c37ce35aebb82a8564df20be6cf4c34abd35ead72af7e9bab14d3216cbbabb8e79678f3b6aaa335dabc9a5560c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 515px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  margin: 0 -6px 0 auto;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 756px;
  background-image: linear-gradient(#f2f2f2, #f2ccd9);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 7px 290px 0 7px;
}

.u-section-2 .u-image-2 {
  width: 232px;
  height: 145px;
  margin: -29px auto 0 389px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -103px 298px 0 7px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 46px 0 0;
}

.u-section-2 .u-image-3 {
  width: 232px;
  height: 141px;
  margin: -29px auto 0 389px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -109px 286px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 59px -7px 0 7px;
}

.u-section-2 .u-image-4 {
  width: 232px;
  height: 133px;
  margin: -29px 7px 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -101px 260px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 99px auto 0 198px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 729px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 359px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 135px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 602px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 144px;
    margin-top: -43px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -101px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -36px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -101px;
    margin-right: 259px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -96px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1235px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 670px);
  }

  .u-section-2 .u-image-1 {
    min-height: 435px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 121px;
  }

  .u-section-2 .u-image-2 {
    width: 182px;
    margin-top: 31px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -169px;
    margin-right: 182px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 116px;
    margin-right: 149px;
  }

  .u-section-2 .u-image-3 {
    width: 182px;
    margin-top: 19px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -126px;
    margin-right: 182px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 61px;
    margin-right: 141px;
  }

  .u-section-2 .u-image-4 {
    width: 182px;
    margin-top: 37px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: -151px;
    margin-right: 206px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1511px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 117px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1927px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 31px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 424px;
  }

  .u-section-2 .u-text-1 {
    text-transform: uppercase;
    margin-top: 44px;
    margin-right: -20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 32px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 40px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 40px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 31px;
    margin-right: -4px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 40px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 43px;
    margin-right: 173px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 31px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 40px;
    margin-left: 16px;
  }
}.u-section-3 {
  min-height: 1134px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 28px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1106px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 44px 13px 0 48px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

.u-section-3 .u-btn-9 {
  padding: 0;
}

.u-section-3 .u-line-1 {
  width: 554px;
  height: 3px;
  margin: -532px -11px 0 48px;
}

.u-section-3 .u-line-2 {
  width: 554px;
  height: 3px;
  margin: 117px -6px 0 auto;
}

.u-section-3 .u-line-3 {
  width: 554px;
  height: 3px;
  margin: 133px -6px 0 auto;
}

.u-section-3 .u-line-4 {
  width: 554px;
  height: 3px;
  margin: 140px -6px 0 auto;
}

.u-section-3 .u-line-5 {
  width: 554px;
  height: 3px;
  margin: 173px -11px 0 auto;
}

.u-section-3 .u-image-1 {
  min-height: 1106px;
  background-image: url("images/280553986-0.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px 20px 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 -6px 0 13px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 719px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 912px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 524px;
    margin-top: -714px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    width: 524px;
    margin-right: 0;
  }

  .u-section-3 .u-line-3 {
    width: 524px;
    margin-right: 0;
  }

  .u-section-3 .u-line-4 {
    width: 524px;
    margin-right: 0;
  }

  .u-section-3 .u-line-5 {
    width: 446px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 912px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1034px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -4px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-3 .u-line-1 {
    width: 392px;
    margin-top: -691px;
    margin-right: -54px;
  }

  .u-section-3 .u-line-2 {
    width: 392px;
    margin-top: 171px;
    margin-right: -54px;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    width: 392px;
    margin-top: 171px;
    margin-right: -54px;
    margin-left: 0;
  }

  .u-section-3 .u-line-4 {
    width: 392px;
    margin-top: 171px;
    margin-right: -54px;
    margin-left: 0;
  }

  .u-section-3 .u-line-5 {
    width: 332px;
    margin: 172px auto -140px 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 699px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2714px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1085px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1884px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -20px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
    margin-top: -628px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-line-2 {
    width: 320px;
    margin-top: 147px;
    margin-right: 35px;
  }

  .u-section-3 .u-line-3 {
    width: 320px;
    margin-top: 133px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-line-4 {
    width: 320px;
    margin-top: 173px;
    margin-right: 35px;
  }

  .u-section-3 .u-line-5 {
    width: 320px;
    margin-top: 162px;
    margin-bottom: -105px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1009px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 989px 22px -96px 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 494px;
}

.u-section-4 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 375px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  height: auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-image-1 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-4 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-image-2 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-4 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-image-3 {
  height: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-4 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-blog-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-4 .u-blog-1 {
    min-height: 710px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-blog-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-5 .u-group-1 {
  min-height: 150px;
  width: 801px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 606px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-btn-3 {
  padding: 0;
}

.u-section-5 .u-btn-4 {
  padding: 0;
}

.u-section-5 .u-btn-5 {
  padding: 0;
}

.u-section-5 .u-btn-6 {
  padding: 0;
}

.u-section-5 .u-btn-7 {
  padding: 0;
}

.u-section-5 .u-btn-8 {
  padding: 0;
}

.u-section-5 .u-btn-9 {
  padding: 0;
}

.u-section-5 .u-btn-10 {
  padding: 0;
}

.u-section-5 .u-btn-11 {
  padding: 0;
}

.u-section-5 .u-btn-12 {
  padding: 0;
}

.u-section-5 .u-btn-13 {
  padding: 0;
}

.u-section-5 .u-btn-14 {
  padding: 0;
}

.u-section-5 .u-btn-15 {
  padding: 0;
}

.u-section-5 .u-btn-16 {
  padding: 0;
}

.u-section-5 .u-btn-17 {
  padding: 0;
}

.u-section-5 .u-btn-18 {
  padding: 0;
}

.u-section-5 .u-btn-19 {
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 303px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-btn-20 {
  padding: 0;
}

.u-section-5 .u-btn-21 {
  padding: 0;
}

.u-section-5 .u-btn-22 {
  padding: 0;
}

.u-section-5 .u-btn-23 {
  padding: 0;
}

.u-section-5 .u-btn-24 {
  padding: 0;
}

.u-section-5 .u-btn-25 {
  padding: 0;
}

.u-section-5 .u-btn-26 {
  padding: 0;
}

.u-section-5 .u-btn-27 {
  padding: 0;
}

.u-section-5 .u-btn-28 {
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 303px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 6px;
  }

  .u-section-5 .u-group-1 {
    min-height: 124px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-5 .u-group-1 {
    min-height: 95px;
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: -40px 0 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5 .u-group-1 {
    min-height: 71px;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4635px;
  }

  .u-section-5 .u-group-1 {
    min-height: 185px;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 83px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -123px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 10px;
  }
}.u-section-6 {
  background-image: linear-gradient(#f2f2f2, #f2ccd9);
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -1px;
}

.u-section-6 .u-image-1 {
  min-height: 875px;
  background-image: url("images/e513305c93d91bd4051ade974d16c37ce35aebb82a8564df20be6cf4c34abd35ead72af7e9bab14d3216cbbabb8e79678f3b6aaa335dabc9a5560c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 20px 20px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 875px;
  background-image: linear-gradient(#f2f2f2, #f2ccd9);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 290px 0 7px;
}

.u-section-6 .u-image-2 {
  width: 232px;
  height: 145px;
  margin: -9px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -116px 298px 0 7px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 79px -7px 0 7px;
}

.u-section-6 .u-image-3 {
  width: 232px;
  height: 141px;
  margin: 12px 0 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: -127px 279px 0 7px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 110px 0 0;
}

.u-section-6 .u-image-4 {
  width: 232px;
  height: 133px;
  margin: -29px 7px 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: -96px 260px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 94px auto 0 198px;
  padding: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 481px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 365px;
}

.u-section-6 .u-text-7 {
  background-image: none;
  text-transform: none;
  margin: 0 auto 0 -15px;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-btn-3 {
  padding: 0;
}

.u-section-6 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 335px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 144px;
    margin-top: -43px;
    margin-left: 258px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -101px;
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -101px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 58px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-6 .u-image-1 {
    min-height: 435px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: 78px;
    margin-left: -3px;
  }

  .u-section-6 .u-image-2 {
    width: 182px;
    margin-top: 21px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 31px;
    margin-right: 55px;
    margin-left: 22px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 81px;
  }

  .u-section-6 .u-image-3 {
    width: 182px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 19px;
    margin-right: 97px;
    margin-left: 22px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 68px;
    margin-left: 3px;
  }

  .u-section-6 .u-image-4 {
    width: 182px;
    margin-top: 41px;
    margin-right: 96px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 49px;
    margin-right: 67px;
    margin-left: 22px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 113px;
    margin-left: 31px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-6 .u-image-1 {
    min-height: 506px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1974px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 459px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 23px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 23px;
    margin-right: 123px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 43px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 40px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 40px;
    margin-right: 123px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 31px;
    margin-right: -4px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 40px;
    margin-right: -12px;
    margin-left: 13px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 43px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 49px;
    margin-right: 123px;
    margin-left: auto;
  }
}